<div class='modal-header'>
	<button type="button" class="close" data-ng-click="ctrl.cancel()" aria-hidden="true">&times;</button>
	<h4 class='modal-title'>Add Contact Details</h4>
</div>
<div class='modal-body'>
	<form class="form-horizontal" name="addContactForm">
		<ul class="list-group">
			<li class="list-group-item" data-ng-repeat="de in ctrl.departments">
				<input type="checkbox" value="de.checked" ng-model="de.checked" ng-change="ctrl.updateDept(de.dept_num)"/>  
				{{de.dept_name}}
			</li>
		</ul>

	</form>
</div>

<div class='modal-footer'>
	<button class='btn btn-default' type='button' data-ng-click='ctrl.cancel()'>
		<span class="glyphicon glyphicon-remove"></span> Cancel
	</button>
	<button  class='btn btn-primary' type='button' data-ng-click='ctrl.save()'>
		<span class="glyphicon glyphicon-ok"></span> Add
	</button>
</div>
